.dark-medium-contrast {
  --md-sys-color-primary: rgb(219 217 255);
  --md-sys-color-surface-tint: rgb(194 193 255);
  --md-sys-color-on-primary: rgb(31 31 85);
  --md-sys-color-primary-container: rgb(139 139 200);
  --md-sys-color-on-primary-container: rgb(0 0 0);
  --md-sys-color-secondary: rgb(220 218 243);
  --md-sys-color-on-secondary: rgb(36 36 54);
  --md-sys-color-secondary-container: rgb(144 142 165);
  --md-sys-color-on-secondary-container: rgb(0 0 0);
  --md-sys-color-tertiary: rgb(255 207 232);
  --md-sys-color-on-tertiary: rgb(58 27 47);
  --md-sys-color-tertiary-container: rgb(176 132 156);
  --md-sys-color-on-tertiary-container: rgb(0 0 0);
  --md-sys-color-error: rgb(255 210 204);
  --md-sys-color-on-error: rgb(84 0 3);
  --md-sys-color-error-container: rgb(255 84 73);
  --md-sys-color-on-error-container: rgb(0 0 0);
  --md-sys-color-background: rgb(19 19 24);
  --md-sys-color-on-background: rgb(228 225 233);
  --md-sys-color-surface: rgb(19 19 24);
  --md-sys-color-on-surface: rgb(255 255 255);
  --md-sys-color-surface-variant: rgb(71 70 79);
  --md-sys-color-on-surface-variant: rgb(222 219 230);
  --md-sys-color-outline: rgb(179 176 187);
  --md-sys-color-outline-variant: rgb(145 143 153);
  --md-sys-color-shadow: rgb(0 0 0);
  --md-sys-color-scrim: rgb(0 0 0);
  --md-sys-color-inverse-surface: rgb(228 225 233);
  --md-sys-color-inverse-on-surface: rgb(42 41 47);
  --md-sys-color-inverse-primary: rgb(66 66 121);
  --md-sys-color-primary-fixed: rgb(226 223 255);
  --md-sys-color-on-primary-fixed: rgb(9 6 64);
  --md-sys-color-primary-fixed-dim: rgb(194 193 255);
  --md-sys-color-on-primary-fixed-variant: rgb(48 48 102);
  --md-sys-color-secondary-fixed: rgb(226 224 249);
  --md-sys-color-on-secondary-fixed: rgb(15 15 33);
  --md-sys-color-secondary-fixed-dim: rgb(198 196 221);
  --md-sys-color-on-secondary-fixed-variant: rgb(53 52 72);
  --md-sys-color-tertiary-fixed: rgb(255 216 235);
  --md-sys-color-on-tertiary-fixed: rgb(34 7 25);
  --md-sys-color-tertiary-fixed-dim: rgb(233 185 210);
  --md-sys-color-on-tertiary-fixed-variant: rgb(77 43 64);
  --md-sys-color-surface-dim: rgb(19 19 24);
  --md-sys-color-surface-bright: rgb(69 68 74);
  --md-sys-color-surface-container-lowest: rgb(7 7 12);
  --md-sys-color-surface-container-low: rgb(29 29 35);
  --md-sys-color-surface-container: rgb(40 39 45);
  --md-sys-color-surface-container-high: rgb(51 50 56);
  --md-sys-color-surface-container-highest: rgb(62 61 67);
}
