.light {
  --md-sys-color-primary: rgb(89 89 146);
  --md-sys-color-surface-tint: rgb(89 89 146);
  --md-sys-color-on-primary: rgb(255 255 255);
  --md-sys-color-primary-container: rgb(226 223 255);
  --md-sys-color-on-primary-container: rgb(65 65 120);
  --md-sys-color-secondary: rgb(93 92 113);
  --md-sys-color-on-secondary: rgb(255 255 255);
  --md-sys-color-secondary-container: rgb(226 224 249);
  --md-sys-color-on-secondary-container: rgb(69 69 89);
  --md-sys-color-tertiary: rgb(121 83 105);
  --md-sys-color-on-tertiary: rgb(255 255 255);
  --md-sys-color-tertiary-container: rgb(255 216 235);
  --md-sys-color-on-tertiary-container: rgb(95 60 81);
  --md-sys-color-error: rgb(186 26 26);
  --md-sys-color-on-error: rgb(255 255 255);
  --md-sys-color-error-container: rgb(255 218 214);
  --md-sys-color-on-error-container: rgb(147 0 10);
  --md-sys-color-background: rgb(252 248 255);
  --md-sys-color-on-background: rgb(27 27 33);
  --md-sys-color-surface: rgb(252 248 255);
  --md-sys-color-on-surface: rgb(27 27 33);
  --md-sys-color-surface-variant: rgb(228 225 236);
  --md-sys-color-on-surface-variant: rgb(71 70 79);
  --md-sys-color-outline: rgb(119 118 128);
  --md-sys-color-outline-variant: rgb(200 197 208);
  --md-sys-color-shadow: rgb(0 0 0);
  --md-sys-color-scrim: rgb(0 0 0);
  --md-sys-color-inverse-surface: rgb(48 48 54);
  --md-sys-color-inverse-on-surface: rgb(243 239 247);
  --md-sys-color-inverse-primary: rgb(194 193 255);
  --md-sys-color-primary-fixed: rgb(226 223 255);
  --md-sys-color-on-primary-fixed: rgb(20 19 74);
  --md-sys-color-primary-fixed-dim: rgb(194 193 255);
  --md-sys-color-on-primary-fixed-variant: rgb(65 65 120);
  --md-sys-color-secondary-fixed: rgb(226 224 249);
  --md-sys-color-on-secondary-fixed: rgb(26 26 44);
  --md-sys-color-secondary-fixed-dim: rgb(198 196 221);
  --md-sys-color-on-secondary-fixed-variant: rgb(69 69 89);
  --md-sys-color-tertiary-fixed: rgb(255 216 235);
  --md-sys-color-on-tertiary-fixed: rgb(47 17 36);
  --md-sys-color-tertiary-fixed-dim: rgb(233 185 210);
  --md-sys-color-on-tertiary-fixed-variant: rgb(95 60 81);
  --md-sys-color-surface-dim: rgb(220 217 224);
  --md-sys-color-surface-bright: rgb(252 248 255);
  --md-sys-color-surface-container-lowest: rgb(255 255 255);
  --md-sys-color-surface-container-low: rgb(246 242 250);
  --md-sys-color-surface-container: rgb(240 236 244);
  --md-sys-color-surface-container-high: rgb(234 231 239);
  --md-sys-color-surface-container-highest: rgb(228 225 233);
}
